<!DOCTYPE html>
<html>
<head>
<title>Animal breeds Home</title>
<!-- CSS -->
  <link href=".././static/css/Styles.css" rel="stylesheet" />
</head>
<body>
  <div class="logoLocation">
  <img class="Logo" src="/static/img/LogoPlaceHolder.png">
  </div>
  <div class="brand">
  <h1> Animal breeds </h1>
  </div>
  
  <div class="navbar">
	<a href="../" class="active">Home</a>
	<a href="#AddEntry">Add new entry</a>
	<a href="#Species">Species</a>
	<a href="#Profile">Profile</a>
  </div>
  
<div class="MainBody">
<h2> Welcome to Animal breeds</h2>
<p>Welcome to animal breeds the digital animal encyclopedia</p>
</body>
</html>