<!DOCTYPE html>
<html>
<head>
<title>Animal breeds Home</title>
<!-- CSS -->
  <link href=".././static/css/Styles.css" rel="stylesheet" />
</head>
<body>
  <div class="logoLocation">
  <img class="Logo" src="/static/img/NonspecificAnimal.png">
  </div>
  <div class="brand">
  <h1>Animal breeds</h1>
  </div>

  <div class="navbar">
	<a href="../" class="active">Home</a>
	<a href="#AddEntry">Add new entry</a>
	<a href="../species">Species</a>
	<a href="#Profile">Profile</a>
  </div>
  <p>{{ userCurr }}</p>

  <div class="searchbar">
    <form class="search_form" action="" method="post">
      <input type="text" name="vElemSearch" placeholder="Search..">
      <button type="submit" name="button"></button>
    </form>
  </div>

<div class="MainBody">
<h2> Welcome to Animal breeds</h2>
<p>Welcome to animal breeds the digital animal encyclopedia</p>
</div>
</body>
</html>
